* {
    box-sizing: border-box;
    font-family: "Roboto", "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ol, ul {
	list-style: none;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0b525b;
}
.panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-transform: uppercase;
}
.pricing-plan {
    overflow: hidden;
    box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
    background-color: white;
    text-align: center;
    border-radius: 1rem;
    position: relative;
    width: 100%;
    max-width: 320px;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.pricing-img {
    margin-bottom: 25px;
    max-width: 100%;
}
.pricing-header1 {
    color: #0353a4;
    font-weight: 600;
    letter-spacing: 1px;
}
.pricing-header2 {
    color:  #f8961e;
    font-weight: 600;
    letter-spacing: 1px;
}
.pricing-header3 {
    color: #f94144;
    font-weight: 600;
    letter-spacing: 1px;
}
.pricing-features {
    margin: 50px 0 25px;
    color: #6c757d;
}
.pricing-features1 {
    margin: 50px 0 25px;
    color: #0466c8;
}
.pricing-features2 {
    margin: 50px 0 25px;
    color: #f8961e;
}
.pricing-features-item {
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
    border-top: 1px solid #e1f1ff;
}
.pricing-price2 {
    color: #ea7317; 
    display: block;
    font-size: 30px;
    font-weight: 700;
}
.pricing-price1 {
    color: #023e7d;
    display: block;
    font-size: 30px;
    font-weight: 700;
}
.pricing-price {
    color: #be1e2d; 
    display: block;
    font-size: 30px;
    font-weight: 700;
}
.pricing-button3 {
    border: 1px solid #0353a4;
    background-color:  #0353a4;
    border-radius: 10px;
    color: white;
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    margin: 25px 0;
    transition: background-color 200ms ease-in-out;
}
.pricing-button1 {
    border: 1px solid #f94144;
    background-color: #f94144;
    border-radius: 10px;
    color: white;
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    margin: 25px 0;
    transition: background-color 200ms ease-in-out;
}
.pricing-button:hover, .pricing-button:focus {
    background-color: #faf8f6;
}
.pricing-button2 {
    background-color: #f8961e;
    color: white;
    border-radius: 10px;
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    margin: 25px 0;
    transition: background-color 200ms ease-in-out;
}
.pricing-button2.is-featured:hover, .pricing-button.is-featured:focus{
    background-color: #f8961e;
    color: white;
}
@media (min-width: 00px){
    .panel {
      flex-direction: row;
    }
    .pricing-plan {
      border-bottom: none;
      border-right: 1px solid #e1f1ff;
      padding: 25px 50px;
    }
    .pricing-plan:last-child {
      border-right: none;
      border-bottom: none;
    }
}